* {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Karla';
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 25;
  right: 0;
  z-index: 10;
  background: linear-gradient(to right, #4b0082, #8a2be2, #dda0dd);
  color: white;
}

.main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

.header>img {
  height: 100%;
  margin-right: 6px;
}

.form {}